@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');

@import url(reset.css);
@import url(variables.css);

/* General Layour */

body,
button {
    font-family: var(--primary-font);
    color: var(--text-grey);
}

h2,
h3 {
    font-family: var(--secondary-font);
}

button {
    border: none;
}

.hidden {
    display: hidden;
    opacity: 0;
    transition: 1s;
}

/* End general Layour */

/* Nav */

nav {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--red);
    color: var(--text-white);
    padding: 5px;
    margin-bottom: 10px;

    .logo {
        max-width: 30px;
    }

    .search-bar {
        width: 100px;
        border-radius: 5px;
        border: none;
    }

    select {
        border: none;
    }

    .cart-icon {
        cursor: pointer;
        color: var(--text-white);
        background-color: transparent;

        &:hover {
            color: var(--text-grey);
        }
    }
}

/* End nav */

/* Cart */

.cart-container {
    position: absolute;
    width: 350px;
    padding: 10px;
    left: 1em;
    border: 1px solid var(--red);
    background-color: var(--background-grey);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    z-index: 99;
    transition: 0.3s;

    > * {
        margin: 0.2em;
    }

    .cart-title {
        font-weight: 600;
    }
    .item-cart-container {
        font-size: 0.9rem;
        margin: 0.1em;
        display: flex;
        justify-content: space-between;
    }
    .btns-container > * {
        margin-left: 0.1em;
    }

    .empty-btn,
    .buy-btn {
        width: 100%;
    }

    button {
        background-color: var(--red);
        color: var(--text-white);
        border-radius: 5px;

        &:hover {
            cursor: pointer;
            background-color: #e65c50;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
        }
    }
}

/* End cart */

/* Products Section */

.products-container {
    display: flex;
    gap: 10px;
    margin: 0 auto;
    max-width: 900px;
    flex-wrap: wrap;
}

.product-card {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 10px;
    background-color: var(--background-grey);
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    > * {
        margin-top: 10px;
    }

    &:hover {
        transform: translateY(-4px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .product-title {
        font-weight: 600;
        font-size: 18px;
        color: var(--text-grey);
    }

    .product-description,
    .product-price {
        font-size: 14px;
        color: var(--text-grey);
    }

    .product-img {
        width: 230px;
        margin: 0 auto;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        img {
            border-radius: 8px;
        }
    }

    .add-to-cart-button {
        background-color: var(--red);
        color: var(--text-white);
        width: 100%;
        border-radius: 5px;

        &:hover {
            cursor: pointer;
            background-color: #e65c50;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
        }
    }

    .no-stock {
        background-color: var(--text-grey);

        &:hover {
            cursor: default;
            background-color: var(--text-grey);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
        }
    }
}

/* End products Section */
